{#- Base email layout, ported from the legacy common/template.ftl registrationLayout macro. -#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow">
    <title>{% block title %}Pago TIC{% endblock %}</title>
    <link rel="icon" href="{{ resources_base_url }}/img/favicon.ico"/>
</head>
<body>
<div>
    <div id="top-bar"></div>
    <header>
        {% block header %}{% endblock %}
    </header>
    <div id="form">
        {% block content %}{% endblock %}
    </div>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</div>
</body>
</html>
