{#- Ported from legacy email/payment_service_approved.ftl. Consumes payload.payments[] (service_name, concept, id, ticket, amount, paid_date). Collector-facing. -#}
{% extends "base.html.j2" %}

{% block title %}{{ msg('siteTitle') }}{% endblock %}

{% block header %}
    {% include "partials/collector-header.html.j2" %}
{% endblock %}

{% block content %}
{% if (payments | length) == 1 %}
    <!--  UN ÚNICO PAGO  -->
    <div style='display:block;'>
        <div style='text-align: center;'>
            <p style='font-family: Arial; font-weight: bold; font-size: 18px; color: #565856;'>Pago Aprobado</p>
            <img src='{{ resources_base_url }}/elements-img/ico-title/ico-success.png'>
        </div>
        <div style='padding:15px 30px; display:block; font-family:Arial; font-size:13px; color:#565856; text-align:center'>
            <p style='font-size:15px;color:#565856;'>
                ¡Hola!</p>
            <p>Tu pago a <strong>{{ payments[0].service_name }}</strong> fue procesado de forma exitosa
                <br>
                Te compartimos el detalle del pago:
            </p>
        </div>
    </div>

    <div style='display:block;'>
        <div style='display:block;'>
            <table width='auto' border='0' align='center' cellpadding='1' cellspacing='1'
                   style='min-width: 350px; max-width: 95%; padding:15px; background-color:#f4f4f2; border-radius: 7px;'>
                <tbody>
                <tr>
                    <td colspan='100'
                        style='font-family:Arial;font-size:13px;color:#565856;text-align: center;'>
                        <strong style='font-size: 15px;'>{{ payments[0].concept }}</strong>
                        <br>
                        {{ payments[0].service_name }}
                        <br>
                        {{ payments[0].id }}
                        <br>
                        {{ payments[0].ticket }}
                    </td>
                </tr>
                <tr>
                    <td style='text-align: center;'>
                        <img style='padding: 20px 0 5px 0;'
                             src='{{ resources_base_url }}/elements-img/ico-elements/ico-money.png'>
                    </td>
                    <td style='text-align: center;'>
                        <img style='padding: 20px 0 5px 0;'
                             src='{{ resources_base_url }}/elements-img/ico-elements/ico-clock.png'>
                    </td>
                </tr>
                <tr>
                    <td style='font-family:Arial;font-size:15px;color:#565856;text-align: center;width: 50%;'>
                        <p style='margin-top: 0;'>{{ payments[0].amount | format_amount }}</p>
                    </td>
                    <td style='font-family:Arial;font-size:15px;color:#565856;text-align: center;width: 50%;'>
                        <p style='margin-top: 0;'>{{ payments[0].paid_date | format_date }}</p>
                    </td>
                </tr>
                </tbody>

            </table>
            <div width='auto' border='0' align='center' cellpadding='1' cellspacing='1' style='padding:10px;'>
                <div align='center' style='display: inline-block; vertical-align: top;'>
                    <a>
                        <img src='https://servicios.paypertic.com/formularios/v2/comprobantes/QR/{{ payments[0].id }}'
                             height='170px' class='CToWUd'>
                    </a>
                </div>
                <div align='center'
                     style='font-family:Arial; font-size:11px; text-align:center; display:inline-block; color:#4b4a4a; padding:15px; background-color:#f4f4f2; border-radius:7px; width:auto; vertical-align: top;'>
                    <p style='font-family:Arial;font-size:11px'>
                        Este correo es recibo suficiente de tu pago
                        <br>
                        siempre que incluya el c&oacute;digo QR.
                        <br>
                        Pod&eacute;s acceder al comprobante en l&iacute;nea escaneando el c&oacute;digo
                        <br>
                        o haciendo click en el siguiente bot&oacute;n.
                        <br>
                        <br>
                        <br>
                        <a style='font-family:Arial;font-size:11px;background-color:#1E1248;color:#ffffff;text-decoration:none;padding:5px 8px;border-radius:3px'
                           href='https://servicios.paypertic.com/formularios/v2/comprobantes/{{ payments[0].id }}'
                           target='_blank'>
                            VER COMPROBANTE
                        </a> <!--FIXME la redireccion hacia el comprobante deberia venir en una variable del
                        pago, pero no se decidio como se va a llamar-->
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--  FIN UN ÚNICO PAGO  -->
{% else %}
    <!--  MULTIPLES PAGOS  -->
    <div style='display:block;'>
        <div style='text-align: center;'>
            <p style='font-family: Arial; font-weight: bold; font-size: 18px; color: #565856;'>Pagos Aprobados</p>
            <img src='{{ resources_base_url }}/elements-img/ico-title/ico-success.png'>
        </div>
        <div style='padding:15px 30px; display:block; font-family:Arial; font-size:13px; color:#565856; text-align:center'>
            <p style='font-size:15px;color:#565856;'>
                ¡Hola!</p>
            <p>Tus pagos de los siguientes servicios fueron procesados de forma exitosa:
                <br>
            </p>
        </div>
    </div>
    <div style='display:block;'>
        <table width='100%' border='0' align='center' cellpadding='1' cellspacing='1'
               style='width:100%;padding:15px;background-color:#f4f4f2;border-radius: 7px;'>
            <tr>
                <td align='center'
                    style='font-family:Arial;font-size:10px;color:#565856;border-bottom:1px solid #cccccc'>
                    Concepto
                </td>
                <td align='center'
                    style='font-family:Arial;font-size:10px;color:#565856;border-bottom:1px solid #cccccc'>
                    ID
                </td>
                <td align='center'
                    style='font-family:Arial;font-size:10px;color:#565856;border-bottom:1px solid #cccccc'>
                    Servicio
                </td>
                <td align='center'
                    style='font-family:Arial;font-size:10px;color:#565856;border-bottom:1px solid #cccccc'>
                    Fecha de pago
                </td>
                <td align='center'
                    style='font-family:Arial;font-size:10px;color:#565856;border-bottom:1px solid #cccccc'>
                    Monto
                </td>
                <td align='center'
                    style='font-family:Arial;font-size:10px;color:#565856;border-bottom:1px solid #cccccc'>
                </td>
            </tr>
            <!-- listar pagos-->
            {% for payment in payments %}
                <tr>
                    <td align='center'
                        style='font-family:Arial; font-size:11px; color:#565856;border-bottom: 1px solid #cccccc;padding: 10px 0px'>
                        {{ payment.concept }}
                    </td>
                    <td align='center'
                        style='font-family:Arial; font-size:11px; color:#565856;border-bottom: 1px solid #cccccc;padding: 10px 0px'>
                        {{ payment.id }}
                    </td>
                    <td align='center'
                        style='font-family:Arial; font-size:11px; color:#565856;border-bottom: 1px solid #cccccc;padding: 10px 0px'>
                        {{ payment.service_name }}
                    </td>
                    <td align='center'
                        style='font-family:Arial; font-size:11px; color:#565856;border-bottom: 1px solid #cccccc;padding: 10px 0px'>
                        {{ payment.paid_date | format_date }}
                    </td>
                    <td align='center'
                        style='font-family:Arial; font-size:11px; color:#565856;border-bottom: 1px solid #cccccc;padding: 10px 0px'>
                        {{ payment.amount | format_amount }}
                    </td>
                    <td align='center'
                        style='font-family:Arial;font-size:11px;color:#565856;border-bottom:1px solid #cccccc;margin: 5px;padding: 10px 0px'>
                        <a class="btn"
                           target="_blank"
                           href='https://servicios.paypertic.com/formularios/v2/comprobantes/{{ payment.id }}'
                           style="background-color: #E50051; color: #ffffff; text-decoration: none; padding: 5px; border-radius: 3px; ">
                            Ver Comprobante
                        </a> <!--FIXME la redireccion hacia el comprobante deberia venir en una variable del
                        pago, pero no se decidio como se va a llamar-->
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
    </div>
    <!--  FIN MULTIPLES PAGOS  -->
{% endif %}
<br>
{% include "partials/collector-service-contact.html.j2" %}
{% endblock %}

{% block footer %}
    {% include "partials/collector-footer.html.j2" %}
{% endblock %}
