{#- Ported from legacy email/elements/automatic-debit-enabled-info.ftl -#}
<div align="center">
    <p style="color: #565658;">Si estás adherido al pago automático, todos los meses te enviaremos un correo previo al cobro donde te mostraremos el detalle del pago a debitar, para que si es necesario puedas objetarlo, diferirlo o modificar el medio de pago.</p>
    <br>
</div>
