{#- Ported from legacy email/elements/collector-footer.ftl -#}
<table border='0' align='center' cellpadding='0' cellspacing='0'
       style=' padding-top: 10px; padding-right:auto; padding-left:auto;padding-bottom: 50px;width:85%'>
    <tr>
        <td>
            <div style='display:block; width:100%; margin:10px auto;'>
                <div style='display:block; padding-bottom:5px'><a href='https://www.pagotic.com'
                                                                  style='color:#4b4a4a;font-family:Arial;font-size:12px; line-height:18px; text-decoration:none; vertical-align:middle;'><img
                                style='vertical-align:middle; padding-right:10px;'
                                src='{{ resources_base_url }}/elements-img/ico-elements/ico-web.png' width='22' height='22' alt=''>
                        https://www.pagotic.com</a></div>
            </div>
        </td>
        <td valign='top'>
            <div style='display:block; float:right;'>
                <div style='padding:5px 30px 5px 0; text-align:center; float:left'>
                        <img src='{{ resources_base_url }}/elements-img/logos/logo-pci.png' width='' height='55' alt=''>
                </div>
                <div style='padding:15px 0 5px 0; text-align:center; float:left'>
                    <a href='https://www.facebook.com/PagoTIC'>
                        <img src='{{ resources_base_url }}/elements-img/ico-elements/ico-face-29x29.png' width='29' height='29' alt=''>
                    </a>&nbsp;
                    <a href='https://twitter.com/PagoTIC'>
                        <img src='{{ resources_base_url }}/elements-img/ico-elements/ico-twi-29x29.png' width='29' height='29' alt=''>
                    </a>&nbsp;
                    <a href='https://www.linkedin.com/company/pagotic'>
                        <img src='{{ resources_base_url }}/elements-img/ico-elements/ico-link-29x29.png' width='29' height='29' alt=''>
                    </a>
                </div>
            </div>
        </td>
    </tr>
</table>
