{#- Ported from legacy email/elements/collector-service-contact.ftl -#}
<div>
    <div align="center" style="
            display: block;
            height: 150px;
            width: 100%;
            background-image: url('{{ resources_base_url }}/elements-img/img/bg-collector-footer.png');
            background-color: #f4f4f2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            align-content: center;
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;
            ">
        <table style="background-color: rgba(255, 255, 255, 0.8);
                      border-radius: 10px;
                      padding: 15px;">
            <tbody>
            <tr>
                <td style="text-align: center;">
                    <img style="padding: 0 10px 10px 10px;"
                         src="{{ resources_base_url }}/elements-img/ico-elements/ico-contact.png">
                </td>
            </tr>
            <tr>
                <td style="text-align: center; font-family:Arial;font-size:13px; color: #565658;">
                    <p style="margin: 0px;">
                        <strong>Centro de atenci&oacute;n a entidades</strong>
                        <br>
                        0810-220-7777 |
                        <a href="mailto:entidades@pagotic.com" style="text-decoration:none; color: #565658;">entidades@pagotic.com</a>
                        <br>
                        Lunes a viernes de 9 a 17 hs.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
