{#- Ported from legacy email/elements/footer.ftl -#}
<div style='display:block;background:#e0e0e0; border-radius:0 0 10px 10px;'>
    <div style='display:block;padding:10px;text-align:center;'>
        <div style='padding:10px; font-family:Arial;font-size:11px;color:#4b4a4a;'>
            <p>La presente notificaci&oacute;n es un servicio gratuito que Pago TIC pone a tu disposici&oacute;n para que
                puedas conocer el resumen y el estado de tus pagos.</p>
        </div>
    </div>
</div>
<table border='0' align='center' cellpadding='0' cellspacing='0'
       style=' padding-top: 10px; padding-right:auto; padding-left:auto;padding-bottom: 50px;width:85%'>
    <tr>
        <td>
            <div style='display:block; float:left;'>
                <div style=" top:10px;">
                    <img src="{{ resources_base_url }}/img/logo-positivo-161x50.png" height="30" alt="">
                </div>
            </div>
        </td>
        <td>
            <div style='display:flex; justify-content: flex-end; float:left;'>
                <div style='display:block; width:100%; margin:10px auto;'>
                    <div style='display:block; padding-bottom:5px'><a href='https://www.pagotic.com' style='color:#4b4a4a;font-family:Arial;font-size:12px; line-height:18px; text-decoration:none; vertical-align:middle;'><img style='vertical-align:middle; padding-right:10px;' src='{{ resources_base_url }}/elements-img/ico-elements/ico-web.png' width='22' height='22' alt=''>
                        https://www.pagotic.com</a></div>
                </div>
            </div>
        </td>
        <td valign='top'>
            <div style='display:flex; justify-content: flex-end; float:right;'>
                <div style="vertical-align: middle; text-align : right; display: table-cell; padding-right: 10px;  padding-top: 4px; font-size: 9px;">
                    <p>Alcance: Atencion de consultas <br> y reclamos de clientes<br> pagadores (RI 9000-14775)</p>
                </div>
                <div style='padding:5px 30px 5px 0; text-align:center; float:left'>
                    <img src='https://images.paypertic.com/assets/common-assets/footer/not/iram.png' height='55' alt='iram'>
                    <img src='https://images.paypertic.com/assets/common-assets/footer/not/pci.png' height='55' alt='pci'>
                </div>
                <div style='padding:15px 0 5px 0; text-align:center; float:left'>
                    <a href='https://www.facebook.com/PagoTIC'>
                        <img src='{{ resources_base_url }}/elements-img/ico-elements/ico-face-29x29.png' width='29' height='29' alt=''>
                    </a>&nbsp;
                    <a href='https://www.instagram.com/pagotic/'>
                        <img src='{{ resources_base_url }}/elements-img/ico-elements/ico-instagram.png' width='29' height='29' alt=''>
                    </a>
                    <a href='https://twitter.com/PagoTIC'>
                        <img src='{{ resources_base_url }}/elements-img/ico-elements/ico-twi-29x29.png' width='29' height='29' alt=''>
                    </a>&nbsp;
                    <a href='https://www.linkedin.com/company/pagotic'>
                        <img src='{{ resources_base_url }}/elements-img/ico-elements/ico-link-29x29.png' width='29' height='29' alt=''>
                    </a>
                </div>
            </div>
        </td>
    </tr>
</table>
