{#- Ported from legacy email/elements/payment-options.ftl -#}
<div style="display:block">
    <div width="100%" align="center" style="padding-top: 20px; color: #565856;">
        <p><strong>Pago TIC pone a tu disposici&oacute;n una amplia variedad de medios de pago para adaptarse a tus necesidades.</strong></p>
    </div>
    <div style="display:block;" align="center">
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-cbu.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-visa-credit.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-mastercard.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-maestro.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-amex.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-cordobesa.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-naranja.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-nativa.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-cabal.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-italcred.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-argencard.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-diners.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-rapipago.png" height="35px"></div>
        <div style="display: inline-block; padding-top: 20px; text-align: center;"><img src="{{ resources_base_url }}/elements-img/ico-payment-options/ico-pagofacil.png" height="35px"></div>
    </div>
    <div width="100%" align="center">
        <p>Los medios de pago disponibles pueden variar seg&uacute;n la entidad.</p>
    </div>
</div>
