{#- Ported from legacy email/elements/wallet-invitation.ftl -#}
<div>
    <div align="center" style="
            display: block;
            width: 100%;
            background-image: url('{{ resources_base_url }}/elements-img/img/bg-wallet.png');
            background-color: #f4f4f2;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            align-content: center;
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;
            ">
        <table style="background-color: rgba(255, 255, 255, 0.8);
                      border-radius: 10px;
                      padding: 15px;
                      align-content: center;">
            <tbody>
            <tr>
                <td style="text-align: center;">
                    <img style="padding: 0 10px 10px 10px;"
                         src="{{ resources_base_url }}/elements-img/ico-elements/ico-wallet.png">
                </td>
            </tr>
            <tr>
                <td colspan="2"
                    style="font-family:Arial;font-size:13px;color:#565856;text-align: center; color: #565658;">
                    <strong style="font-size: 13px; color: #E50051;"> ¡Ingresá a tu <a href="https://billetera.paypertic.com/" target="_blank"
                                                                                       style="display: inline-block;
                                   font-size: 14px;
                                   text-align: center;
                                   color:#E50051;
                                   vertical-align: middle;"> billetera electrónica </a> y gestioná tus pagos y suscripciones!</strong>
                    <br>
                    <br>
                    Accedé al link con tu email y generá una contraseña segura,
                    <br>
                    desde allí podrás visualizar tu historial de pagos, descargar comprobantes y modificar tu medio de pago.
                    <br>
                    Todo desde una misma plataforma.
                </td>
            </tr>
            <tr>
                <td align="center" style="text-align: center;padding-top: 15px;">
                    <a href="https://billetera.paypertic.com/" target="_blank"
                       style="display: inline-block;
                                   font-size: 14px;
                                   text-align: center;
                                   background-color: #E50051;
                                   color:#ffffff;
                                   text-decoration:none;
                                   vertical-align: middle;
                                   border: 1px solid #E50051;
                                   padding: 5px 8px;
                                   border-radius: 0.25rem;"> INGRES&Aacute; </a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
